body{  font-family: "Montserrat", sans-serif;}

.MuiBadge-badge{background: #ff5252 !important;};

.ReactCollapse--collapse {
  transition: height 500ms;
}

.btn-blue{background:#2260f3 !important; color:#fff !important; padding:8px,20px !important};
.btn-blue:hover{background:#4d80f5 !important;}